









.navbar.scrolled {
    background: red;
    transition: background 500ms;
}

.jumbotron{
    background: no-repeat center fixed url("background3.jpg");
    background-size: cover;
    height: 722px;

}

.container{
    padding: 40px 180px;
}

.jumbotron .container h1{
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

.jumbotron .container{
    position: relative;
    top: 28%;
    z-index: 4;
    text-align: center;
    max-width: 100%;
}

.jumbotron .overlay{
    background-color: #9d0208;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
    z-index: 2;
}


